# Telegram Bot Token
# Получите токен у @BotFather в Telegram
TELEGRAM_BOT_TOKEN=y8347333912:AAGD_0PN6GH-BJ3Yd0g5rlb_muOkUArdbK4

# Путь к файлу хранилища данных
# По умолчанию: ./store.json
STORE_PATH=./store.json

# Владелец бота (Telegram User ID)
# Замените на ваш Telegram User ID
OWNER_ID=661057299
